auditlog3==1.0.1
autoflake==1.4
black==20.8b1
Django==3.1.7
django-bootstrap-form==3.4
django-import-export==2.2.0
django-jazzmin==2.4.4
django-jsonfield==1.4.1
django-letsencrypt==4.0.0
flake8==3.8.4
gunicorn==20.0.4
psycopg2-binary==2.8.6
proj==0.2.0
python-decouple==3.3
pylint==2.5.3
pylint-django==2.0.15
whitenoise==5.1.0